.info-button {
    padding: 0;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    background-color: var(--color-crimson);
    border-radius: 50%;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-button__icon {
    margin: 0;
    padding: 0;
    width: 25px;
    height: 25px;
    background-image: url('../images/question-white.svg');
    border: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    transform: scale(1);
    transition: transform .2s linear;
}

@media screen and (min-width: 768px) {
    .info-button:hover {
        background-color: var(--color-white);
        border: 1.5px solid var(--color-purple);
        cursor: pointer;
        transition: background-size .2s linear;
    }
    
    .info-button:hover .info-button__icon {
        background-image: url('../images/question-purple.svg');
        transform: scale(1.15);
        transition: transform .2s linear;
    }
}

@media screen and (max-width: 767px) {
    .info-button {
        width: 30px;
        height: 30px;
    }

    .info-button__icon {
        width: 15px;
        height: 15px;
    }
}