.rock-paper-scissors-icon {
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    transform: scale(1);
    transition: transform .2s linear;
}

.rock-paper-scissors-icon__path {
    fill: var(--color-dark);
}

.rock-paper-scissors-icon_size_big {
    width: 90px;
    height: 90px;
}

@media screen and (min-width: 768px) {
    .rock-paper-scissors__control-button:hover .rock-paper-scissors-icon {
        transform: scale(1.15);
        transition: transform .2s linear;
    }

    .rock-paper-scissors__control-button:hover .rock-paper-scissors-icon__path {
        fill: var(--color-light);
    }
}

@media screen and (max-width: 767px) {
    .rock-paper-scissors-icon {
        width: 40px;
        height: 40px;
    }

    .rock-paper-scissors-icon_size_big {
        width: 60px;
        height: 60px;
    }
}